.pd-7 {
    padding: 7px;
}

.inputQuestion {
    width: 95%;
    margin-top: 15px;
}

.selected {
    background: #E1F5FE;
}

.pt-10px {
    padding-top: 10px;
}

.ml-0px {
    margin-left: 0px !important;
}

.mr-0px {
    margin-right: 0px;
}

.mt-10px {
    margin-top: 10px;
}

#iconSite {
    width: 3%;
    text-align: center;
    font-size: 23px;
    margin-top: 18px;
}