<div class="pointer" (click)="selectQuestion(indexInput)" id="{{indexInput}}">
    <div class="row">
        <div class="col-1 pdl-20px">
            <div class="btn-group dropleft">
                <button type="button" 
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        [ngClass]="{'menuSelected': totalQuestionsInput == 1}"
                        style="border: 0; background-color: transparent;"
                        id="menu{{indexInput}}">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu animated fadeIn faster">
                    <a class="dropdown-item" *ngIf="indexInput > 1" (click)="moveUp(indexInput)"><i class="fas fa-chevron-up"></i>  Subir</a>
                    <a class="dropdown-item" *ngIf="indexInput < totalQuestionsInput" (click)="moveDown(indexInput)"><i class="fas fa-chevron-down"></i>  Bajar</a>
                    <a class="dropdown-item" (click)="remove(indexInput)"><i class="far fa-trash-alt red"></i>  Eliminar</a>
                </div>
            </div>
            <label>{{indexInput}}</label>
        </div>
        <div class="col-11">
            <div class="row">
                <input 
                class="form-control inputQuestion"
                type="text"
                value={{questionInput.text}}
                placeholder="Ingrese el texto aquí..." 
                (input)="updateQuestionText(inputText.value, indexInput)" #inputText>
            </div>
            <div class="row ml-0px mt-10px">
                <app-singleselectionanswer [answerInput]="questionInput.answer"></app-singleselectionanswer>
            </div>
        </div>
    </div>
</div>