<div class="pointer" (click)="selectQuestion(indexInput, questionInput.answer)" id="{{indexInput}}">
    <div class="row">
        <div class="col-1 pdl-20px">
            <div class="btn-group dropleft">
                <button type="button" 
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        [ngClass]="{'menuSelected': totalQuestionsInput == 1}"
                        style="border: 0; background-color: transparent;"
                        id="menu{{indexInput}}">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu animated fadeIn faster">
                    <a class="dropdown-item" *ngIf="indexInput > 1" (click)="moveUp(indexInput)"><i class="fas fa-chevron-up"></i>  Subir</a>
                    <a class="dropdown-item" *ngIf="indexInput < totalQuestionsInput" (click)="moveDown(indexInput)"><i class="fas fa-chevron-down"></i>  Bajar</a>
                    <a class="dropdown-item" (click)="remove(indexInput)"><i class="far fa-trash-alt red"></i>  Eliminar</a>
                </div>
            </div>
            <label>{{indexInput}}</label>
        </div>
        <div class="col-11">
            <div class="row">
                <input 
                class="form-control inputQuestion"
                type="text"
                value={{questionInput.text}}
                placeholder="Ingrese el texto aquí..." 
                (input)="updateQuestionText(inputText.value, indexInput)" #inputText>
                <i class="fas fa-map-marker-alt pointer" id="iconSite" (click)="openCatalogSitesModal(indexInput)"></i>
            </div>
            <div class="row mt-10px">
                <app-singleselectionanswer 
                *ngIf="questionInput.answer" 
                [answerInput]="questionInput.answer"></app-singleselectionanswer>
                <app-freetextanswer 
                *ngIf="questionInput.answer && questionInput.answer.answerType == 2"></app-freetextanswer>
            </div>
        </div>
    </div>
</div>
<div class="modal animated fadeIn faster" [ngClass]="{'d-block': showSitesCatalog}">
    <div class="modal-content">
        <div class="row">
            <label>Buscar</label>
        </div>
        <div class="row">
            <ul class="list-group" id="siteList">
                <li class="list-group-item list-group-item-action">Azur</li>
                <li class="list-group-item list-group-item-action">Costa Arena</li>
                <li class="list-group-item list-group-item-action">Epazote</li>
                <li class="list-group-item list-group-item-action">Gong</li>
                <li class="list-group-item list-group-item-action">Quinto Charcoal Grill</li>
                <li class="list-group-item list-group-item-action">The Burger Custom Made</li>
                <li class="list-group-item list-group-item-action">Tramonto</li>
                <li class="list-group-item list-group-item-action">Ameca Social House</li>
                <li class="list-group-item list-group-item-action">Balance</li>
                <li class="list-group-item list-group-item-action">Balché</li>
                <li class="list-group-item list-group-item-action">Limón y Sal</li>
                <li class="list-group-item list-group-item-action">Café del Lago</li>
                <li class="list-group-item list-group-item-action">Chiringuito</li>
                <li class="list-group-item list-group-item-action">Fresh Co</li>
                <li class="list-group-item list-group-item-action">Havana Moon</li>
                <li class="list-group-item list-group-item-action">Il Forno di Gio</li>
                <li class="list-group-item list-group-item-action">La Cantina</li>
                <li class="list-group-item list-group-item-action">Mercado México</li>
                <li class="list-group-item list-group-item-action">Ola Mulata</li>
                <li class="list-group-item list-group-item-action">Samba</li>
                <li class="list-group-item list-group-item-action">Si Snack</li>
                <li class="list-group-item list-group-item-action">Sweet Paris</li>
                <li class="list-group-item list-group-item-action">Sky Garden</li>
                <li class="list-group-item list-group-item-action">Tacos Break</li>
                <li class="list-group-item list-group-item-action">Brio Spa</li>
                <li class="list-group-item list-group-item-action">Spatium</li>
                <li class="list-group-item list-group-item-action">Santuario</li>
                <li class="list-group-item list-group-item-action">Pro Shop</li>
                <li class="list-group-item list-group-item-action">Tempo</li>
                <li class="list-group-item list-group-item-action">Deseo</li>
                <li class="list-group-item list-group-item-action">Jewelry Store</li>
                <li class="list-group-item list-group-item-action">Dulce Mejico</li>
                <li class="list-group-item list-group-item-action">La Boutique</li>
                <li class="list-group-item list-group-item-action">La Botica</li>
                <li class="list-group-item list-group-item-action">De Flor en Flor</li>
                <li class="list-group-item list-group-item-action">El Librero</li>
            </ul>
        </div>
        <div class="row mt-15px">
            <button type="button" class="btn btn-primary" id="btnAccept" (click)="showSitesCatalog = false">Acceptar</button>
            <button type="button" class="btn btn-secondary" id="btnCancel" (click)="showSitesCatalog = false">Cancelar</button>
        </div>
    </div>
</div>