<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-3">
            <div class="form-group mb-0">
                <label for="inputSiteName" class="fw-600">Sitio</label>
                <input 
                type="text" 
                class="form-control" 
                id="inputSiteName"
                [disabled]="inputNameDisabled"
                [(ngModel)]="siteSelected.name"
                (keyup)="onKeyUpSiteName(siteName.value)"
                (click)="onClickSiteName()"
                #siteName>
            </div>
            <small class="form-text red animated fadeIn faster" *ngIf="siteExist">Este sitio ya está regitrado</small>
        </div>
        <div class="col-9">
            <button
            type="button"
            class="btn btn-primary mt-31px"
            [hidden]="newButtonHidden"
            (click)="enableEditControls()">Nuevo</button>
            <button 
            type="button" 
            class="btn btn-primary mt-31px" 
            id="saveButton"
            [hidden]="saveButtonHidden"
            (click)="save(siteName.value)">Guardar</button>
            <button 
            type="button" 
            class="btn btn-warning mt-31px" 
            id="cancelButton" 
            [hidden]="cancelButtonHidden"
            (click)="cancel()">Cancelar</button>
        </div>
    </div>
    <div class="row" id="tableContainer">
        <app-sites-table
        *ngIf="!loading"
        class="w-100"
        [sitesInput]="sites"
        (editEvent)="edit($event)"></app-sites-table>
    </div>
</div>
<div class="row" *ngIf="loading">
    <div class="spinner-border text-primary loadingSites" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="loadingLegend">Cargando...</p>
</div>