<app-controlbuttons></app-controlbuttons>
<hr>
<div class="row animated fadeIn faster pl-14px">
  <div class="col-md-9">
    <div class="row">
      <div class="col-3 pl-0px">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de la encuesta</label>
          <input 
          class="form-control form-control-sm blue-1" 
          type="text" 
          id="surveyName"
          [(ngModel)]="_surveyCaptureServices.nameSurvey"
          (click)="onClickSurveyName()"
          #surveyName>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-group w-100">
        <a class="list-group-item list-group-item-action p-0 animated fadeIn faster"
        *ngFor="let question of questions; let i = index;">
          <app-question
          [indexInput] = "i + 1"
          [questionInput] = "question"
          [totalQuestionsInput] = "questions.length"></app-question>
        </a>
      </div>
    </div>
    <div class="row">
      <button 
      *ngIf="questions.length > 0"
      id="btnAddQuestion"
      class="btn btn-success fz-14px mr-10px"
      (click)="addQuestion()">
      <i class="fas fa-plus"></i>
      Agregar
    </button>
    </div>
  </div>
  <div class="col-md-3">
    <app-answer-types-catalog></app-answer-types-catalog>
  </div>
</div>
<app-footer
[isNewSurveyInput]="isNewSurvey"></app-footer>

