<div class="container sticky animated fadeIn faster" [hidden]="!isAnswerTypeCatalogsVisible">
    <div class="row">
        <div class="radio">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="1"
                id="checkPredefinedAnswer"
                (click)="onClickAnswerType(checkPredefinedAnswer.value)"
                #checkPredefinedAnswer> Predefinida</label>
        </div>
    </div>

    <app-dropdown-predefined-answer 
    [idQuestionSelectedInput]="idQuestionSelected"
    [answerNameInput]="answerName"
    [answersInput]="answers"
    [disablePredefinedInput]="disablePredefined"
    (selectPredefinedAnswerOutput)="showJustifyAnswerControl($event)"></app-dropdown-predefined-answer>

    <div class="row mt-20px">
        <div class="radio">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="2"
                id="checkFreeText"
                (click)="onClickAnswerType(checkFreeText.value)"
                #checkFreeText> Texto libre</label>
        </div>
    </div>

    <div class="row">
        <div class="radio disabled">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="3"
                id="checkMultitpleOptions"
                (click)="onClickAnswerType(checkMultitpleOptions.value)"
                #checkMultitpleOptions> Selección múltiple</label>
        </div>
    </div>
    <hr>
    <div class="row ml-5px">
        <input 
        type="checkbox" 
        class="form-check-input pointer" 
        id="exampleCheck1" 
        (change)="onChangeForceResponse(checkForceResponse.checked)" 
        #checkForceResponse>
        <label class="form-check-label pointer" for="exampleCheck1">Respuesta forzosa</label>
    </div>
    <div class="row ml-5px">
        <input
        class="form-check-input pointer" 
        type="checkbox"
        id="inputCheckAcceptNA"
        (change)="onChangeAcceptNA(matCheckAcceptNA.checked)"
        #matCheckAcceptNA>
        <label class="form-check-label pointer" for="inputCheckAcceptNA">Aceptar NA</label>
    </div>
    <div class="row ml-5px" [hidden]="!justifyAnswerVisible">
        <input
        class="form-check-input pointer"
        id="checkJustifyAnswer"
        type="checkbox"
        (change)="onChangeJustifyAnswer(justifyAnswerInput.checked)"
        #justifyAnswerInput>
        <label class="form-check-label pointer" for="checkJustifyAnswer">Justificar respuesta</label>
    </div>
</div>