<div class="container sticky animated fadeIn faster" [hidden]="!isAnswerTypeCatalogsVisible">
    <div class="row">
        <div class="radio">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="1"
                id="checkPredefinedAnswer"
                (click)="onClickAnswerType(checkPredefinedAnswer.value)"
                #checkPredefinedAnswer> Predefinida</label>
        </div>
    </div>
    <app-dropdown-predefined-answer 
    [idQuestionSelectedInput]="idQuestionSelected"
    [answerNameInput]="answerName"
    [answersInput]="answers"
    [disablePredefinedInput]="disablePredefined"
    (selectPredefinedAnswerOutput)="showJustifyAnswerControl($event)"></app-dropdown-predefined-answer>
    <div class="row mt-20px">
        <div class="radio">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="2"
                id="checkFreeText"
                (click)="onClickAnswerType(checkFreeText.value)"
                #checkFreeText> Texto libre</label>
        </div>
    </div>
    <div class="row">
        <div class="radio disabled">
            <label class="pointer">
                <input 
                type="radio" 
                name="optradio"
                class="pointer"
                value="3"
                id="checkMultitpleOptions"
                (click)="onClickAnswerType(checkMultitpleOptions.value)"
                #checkMultitpleOptions> Selección múltiple</label>
        </div>
    </div>
    <hr>
    <app-config-options
    [idQuestionInput]="idQuestionSelected"></app-config-options>
    <hr>
    <div class="row">
        <div class="btn-group w-100">
            <button 
            type="button" 
            class="btn btn-secondary dropdown-toggle" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
            #selectDepartment>
              <span *ngIf="departmentSelected == undefined">Seleccione el departamento</span>
              <span *ngIf="departmentSelected != undefined && departmentSelected.departmentId > 0">{{departmentSelected.name}}</span>
            </button>
            <div class="dropdown-menu scrollable-menu w-100 mh-374px pointer">
                <a class="dropdown-item" *ngFor="let department of departments" (click)="onSelectDepartment(department)">{{department.name}}</a>
            </div>
          </div>
    </div>
    <br>
    <div class="row">
        <div class="btn-group w-100">
            <button 
            type="button" 
            class="btn btn-secondary dropdown-toggle cursorDefault" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
            [disabled]="selectAreaDisabled"
            #selectArea>
                <span
                class="spinner-border spinner-border-sm mr-10px"
                role="status"
                aria-hidden="true"
                *ngIf="loadingAreas"></span>
                <span *ngIf="loadingAreas">Cargando áreas...</span>
                <span *ngIf="areaOption == 0">Area</span>
                <span *ngIf="!loadingAreas && areaOption == 1">Seleccione el área</span>
                <span *ngIf="!loadingAreas && areaOption == 2">No hay áreas asignadas</span>
                <span *ngIf="!loadingAreas && areaOption == 3">{{areaSelected.name}}</span>
            </button>
            <div class="dropdown-menu scrollable-menu w-100 mh-374px pointer">
                <a class="dropdown-item" *ngFor="let area of areas" (click)="onSelectArea(area)">{{area.name}}</a>
            </div>
          </div>
    </div>
</div>