<div class="row animated fadeIn faster" 
*ngFor="let option of this._questionServices.questions[this.idQuestionInput - 1].answer.answerOptions; let i = index;">
    <mat-checkbox class="d-inline"></mat-checkbox>
    <div class="input-group input-group-sm mb-3">
        <input 
        type="text" 
        class="form-control" 
        aria-label="Small" 
        aria-describedby="inputGroup-sizing-sm"
        (input)="updateTextOption(i, inputOption.value)"
        #inputOption>
    </div>
    <i class="fas fa-plus pointer c-green-success" (click)="addOption()"></i>
    <i class="fas fa-minus pointer c-red-danger" (click)="removeOption(i)"></i>
</div>