<table class="table table-hover text-center">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Plaza</th>
          <th scope="col">Estatus</th>
          <th scope="col">Acciones</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let square of squares" class="pointer" id="{{square.id}}" (click)="onClickRow(square, row)" #row>
          <th scope="row">{{square.id}}</th>
          <td>{{square.name}}</td>
          <td>
              <span *ngIf="square.status == 0">
                  <span class="badge badge-dark fw-500">Inactivo</span>
              </span>
              <span *ngIf="square.status == 1">
                  <span class="badge badge-success fw-500">Activo</span>
              </span>
          </td>
          <td>
              <div class="btn-group dropleft">
                  <mat-icon aria-hidden="false" [matMenuTriggerFor]="menu" class="pointer">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                      <div class="pointer item-menu-question" *ngIf="square.status == 0" (click)="enable(square)">
                          <a class="dropdown-item"><i class="fas fa-power-off text-success"></i>   Activar</a>
                      </div>
                      <div class="pointer item-menu-question" *ngIf="square.status == 1" (click)="disable(square)">
                          <a class="dropdown-item"><i class="fas fa-power-off text-secondary"></i>   Desactivar</a>
                      </div>
                      <div class="pointer item-menu-question" (click)="edit(square, row)">
                          <a class="dropdown-item"><i class="fas fa-edit c-orange"></i>   Editar</a>
                      </div>
                  </mat-menu>
              </div>
          </td>
      </tr>
  </tbody>
</table>