<div class="animated fadeIn faster">
  <div class="row">
    <div class="btn-group minw-150px mr-15px">
      <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="squareSelected == undefined">Plaza</span>
        <span *ngIf="squareSelected && squareSelected.id > 0">{{squareSelected.name}}</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item pointer" *ngFor="let square of squares" (click)="onClickSquare(square)">{{square.name}}</a>
      </div>
    </div>
    <div class="btn-group minw-150px mr-15px">
      <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="hotelSelected == undefined">Hotel</span>
        <span *ngIf="hotelSelected && hotelSelected.id > 0">{{hotelSelected.name}}</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item pointer" *ngFor="let hotel of hotels" (click)="onClickHotel(hotel)">{{hotel.name}}</a>
      </div>
    </div>
    <div class="btn-group minw-150px">
      <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="areaSelected == undefined">Area</span>
        <span *ngIf="areaSelected && areaSelected.id > 0">{{areaSelected.area}}</span>
      </button>
      <div class="dropdown-menu scrollable-menu mh-374px pointer">
        <a class="dropdown-item pointer" *ngFor="let area of areas" (click)="onClickArea(area)">{{area.area}}</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <small class="form-text text-muted">Salidas esperadas: 34</small>
      <small class="form-text text-muted">Checkouts realizados</small>
      <div class="progress m-b-5px">
        <div class="progress-bar bg-info pointer" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
      <small class="form-text text-muted">Encuestas contestadas</small>
      <div class="progress m-b-5px">
        <div class="progress-bar bg-success pointer" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
      <hr>
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <ul class="list-group">
            <li class="list-group-item pointer" *ngFor="let survey of surveys">
              <div class="row">
                <div class="col">
                  <span>{{survey.name}}</span>
                </div>
                <div class="col text-right">
                  <span class="badge badge-primary">{{survey.answeredCount}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-9" id="questions">
          <ul class="list-group">
            <li class="list-group-item pointer pd-5px">¿Su experiencia en general del espectáculo Cirque du Soleil JOYÀ?</li>
            <li class="list-group-item pointer pd-5px">¿Cómo fue su experiencia en general de Jungala Aqua Experience?</li>
            <li class="list-group-item pointer pd-5px">Atención y eficiencia del personal</li>
            <li class="list-group-item pointer pd-5px">Reservación correcta</li>
            <li class="list-group-item pointer pd-5px">Rapidez</li>
            <li class="list-group-item pointer pd-5px">Servicio de Valet parking</li>
            <li class="list-group-item pointer pd-5px">Servicio de Bell boys</li>
            <li class="list-group-item pointer pd-5px">Actitud del Personal de Recepción</li>
            <li class="list-group-item pointer pd-5px">Rapidez en el Registro</li>
            <li class="list-group-item pointer pd-5px">Rapidez en la Salida</li>
            <li class="list-group-item pointer pd-5px">Operadoras de Teléfonos del Hotel</li>
            <li class="list-group-item pointer pd-5px">Atención y Eficiencia del Concierge</li>
            <li class="list-group-item pointer pd-5px">Limpieza al Momento de llegar</li>
            <li class="list-group-item pointer pd-5px">Limpieza del baño</li>
            <li class="list-group-item pointer pd-5px">Limpieza General de la Habitación</li>
            <li class="list-group-item pointer pd-5px">Servicio de Camaristas</li>
            <li class="list-group-item pointer pd-5px">Condiciones del Mobiliario</li>
            <li class="list-group-item pointer pd-5px">Mantenimiento General de la Habitación</li>
            <li class="list-group-item pointer pd-5px">Presentación de Buffets</li>
            <li class="list-group-item pointer pd-5px">Calidad de Alimentos en Buffets</li>
            <li class="list-group-item pointer pd-5px">Calidad de alimentos en General</li>
            <li class="list-group-item pointer pd-5px">Calidad de Bebidas en General</li>
            <li class="list-group-item pointer pd-5px">Apariencia y Cortesía de meseros</li>
            <li class="list-group-item pointer pd-5px">Limpieza de las Albercas</li>
            <li class="list-group-item pointer pd-5px">Atención y Servicio en Boutique</li>
            <li class="list-group-item pointer pd-5px">Calidad del Spa</li>
            <li class="list-group-item pointer pd-5px">Atención y Servicios del Spa</li>
            <li class="list-group-item pointer pd-5px">Calidad del Gimnasio</li>
            <li class="list-group-item pointer pd-5px">Atención y Servicio del Gimnasio</li>
            <li class="list-group-item pointer pd-5px">Actividades Jöy Squad</li>
            <li class="list-group-item pointer pd-5px">Ambiente de Seguridad</li>
            <li class="list-group-item pointer pd-5px">Limpieza y Mantenimiento en General</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>