<div class="animated fadeIn faster">
  <div class="row">
    <app-search-buttons></app-search-buttons>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <app-percentage-bar></app-percentage-bar>
      <hr>
      <app-satisfaction-bar></app-satisfaction-bar>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <app-surveys-name-list [surveysInput]="surveys"></app-surveys-name-list>
        </div>
        <div class="col-9" id="questions">
          <app-question-list></app-question-list>
        </div>
      </div>
    </div>
  </div>
</div>