<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="inputHotelName" class="fw-600">Hotel</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="inputHotelName"
                        [disabled]="hotelNameDisabled"
                        [(ngModel)]="hotelSelected.name"
                        (click)="onClickHotelName()"
                        #hotelName>
                    </div>
                    <small class="form-text red" *ngIf="hotelExist">Esta hotel ya está regitrado</small>
                </div>
                <div class="col-7">
                    <button
                    type="button"
                    class="btn btn-primary mt-31px"
                    [hidden]="newButtonHidden"
                    (click)="enableEditControls()">Nuevo</button>
                    <button 
                    type="button" 
                    class="btn btn-primary mt-31px" 
                    id="saveButton"
                    [hidden]="saveButtonHidden"
                    (click)="save(hotelName.value)">Guardar</button>
                    <button 
                    type="button" 
                    class="btn btn-warning mt-31px" 
                    id="cancelButton"
                    [hidden]="cancelButtonHidden"
                    (click)="cancel()">Cancelar</button>
                </div>
            </div>
            <div class="row" id="tableContainer">
                <app-hotels-table
                *ngIf="!loading"
                class="w-100"
                [hotelsInput]="hotels"
                (editEvent)="edit($event)"
                (clickRowEvent)="onClickRow($event)"></app-hotels-table>
            </div>
        </div>
        <div class="col-6">
            <app-hotel-detail></app-hotel-detail>
        </div>
    </div>
</div>
<div class="row" *ngIf="loading">
    <div class="spinner-border text-primary loadingHotels" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="loadingLegend">Cargando...</p>
</div>