<div class="pointer" (click)="selectQuestion(index, question.answer)" id="{{index}}" #rowQuestion>
    <div class="row">
        <div class="col-1 pdl-20px">
            <app-question-menu
            [indexInput]="index"
            [totalQuestionsInput]="totalQuestions"></app-question-menu>
        </div>
        <div class="col-11">
            <div class="row">
                <input 
                class="form-control inputQuestion fw-500 blue-1"
                type="text"
                value={{question.text}}
                placeholder="Ingrese el texto aquí..." 
                (input)="updateQuestionText(inputText.value, index)" 
                (click)="onClickQuestionText()"
                required
                #inputText>
                    <i 
                    class="fas fa-map-marker-alt pointer red-danger"
                    [ngClass]="{
                        'red-danger': _surveyCaptureServices.questions[index - 1] &&
                                      _surveyCaptureServices.questions[index - 1].site &&
                                      _surveyCaptureServices.questions[index - 1].site.siteId > 0
                    }"
                    id="iconSite"
                    (click)="openCatalogSitesModal(index)"></i>
            </div>
            <div class="row mt-10px">
                <app-single-selection-answer 
                *ngIf="question.answer &&
                question.answer.answerType == 1" 
                [answerInput]="question.answer"></app-single-selection-answer>

                <app-free-text-answer-preview 
                *ngIf="question.answer && 
                question.answer.answerType == 2"></app-free-text-answer-preview>
                
                <app-multiple-choises
                *ngIf="question.answer &&
                question.answer.answerType == 3"
                [idQuestionInput]="index"></app-multiple-choises>
            </div>
        </div>
    </div>
</div>

