<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="inputDepartmentName" class="fw-500">Departamento</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="inputDepartmentName"
                        [(ngModel)]="departmentSelected.name"
                        [disabled]="inputNameDisabled"
                        (click)="onClickDepartmentName()"
                        (keyup)="onKeyUpDepartmentName(departmentName.value)"
                        #departmentName>
                    </div>
                    <small class="form-text red animated fadeIn faster" *ngIf="departmentExist">Este departamento ya está regitrado</small>
                </div>
                <div class="col-8">
                    <button
                    type="button"
                    class="btn btn-primary mt-31px"
                    (click)="enableEditControls()"
                    [hidden]="newButtonHidden">Nuevo</button>
                    <button 
                    type="button" 
                    class="btn btn-primary mt-31px"
                    [hidden]="saveButtonHidden"
                    id="saveButton"
                    (click)="save(departmentName.value)">Guardar</button>
                    <button 
                    type="button" 
                    class="btn btn-warning mt-31px"
                    [hidden]="cancelButtonHidden"
                    id="cancelButton"
                    (click)="cancel()">Cancelar</button>
                </div>
            </div>
            <div class="row" id="tableContainer">
                <app-departments-table
                class="w-100"
                [departmentsInpud]="departments"
                (editEvent)="edit($event)"
                (clickRowEvent)="onClickRow($event)"></app-departments-table>
            </div>
        </div>
        <div class="col-6">
            <app-department-detail></app-department-detail>
        </div>
    </div>
</div>