<ul class="nav nav-tabs animated fadeIn faster">
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="plazas">Plazas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="hoteles">Hoteles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="sitios">Sitios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="departamentos">Departamentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="areas">Areas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" routerLink="active" routerLink="idiomas">Idiomas</a>
  </li>
</ul>
<router-outlet></router-outlet>