<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active pointer">Plazas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">Hoteles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">Sitios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">Departamentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">Areas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">Idiomas</a>
  </li>
</ul>
<div class="row">
  <router-outlet></router-outlet>
</div>