<div class="alert alert-warning w-50 mt-15px animated fadeIn faster" role="alert" *ngIf="sites == undefined || sites.length == 0">
    No hay sitios registrados
</div>
<table class="table table-hover text-center mt-15px w-50 animated fadeIn faster" *ngIf="sites && sites.length > 0">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Sitio</th>
          <th scope="col">Estatus</th>
          <th scope="col">En uso</th>
          <th scope="col">Acciones</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let site of sites" class="pointer" id="{{site.siteId}}" #row>
          <th scope="row">{{site.siteId}}</th>
          <td>{{site.name}}</td>
          <td>
              <span *ngIf="site.statusId == 1">
                  <span class="badge badge-dark fw-500">Inactivo</span>
              </span>
              <span *ngIf="site.statusId == 2">
                  <span class="badge badge-success fw-500">Activo</span>
              </span>
          </td>
          <td>
              <span *ngIf="site.use > 0">
                <span class="badge badge-success fw-500">Si</span>
              </span>
              <span *ngIf="site.use == 0">
                <span class="badge badge-dark fw-500">No</span>
              </span>
          </td>
          <td>
              <div class="btn-group dropleft">
                  <mat-icon aria-hidden="false" [matMenuTriggerFor]="menu" class="pointer">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                      <div class="pointer item-menu-question" *ngIf="site.statusId == 1" (click)="enable(site)">
                          <a class="dropdown-item"><i class="fas fa-power-off text-success"></i>   Activar</a>
                      </div>
                      <div class="pointer item-menu-question" *ngIf="site.statusId == 2" (click)="disable(site)">
                          <a class="dropdown-item"><i class="fas fa-power-off text-secondary"></i>   Desactivar</a>
                      </div>
                      <div class="pointer item-menu-question" (click)="edit(site, row)">
                          <a class="dropdown-item"><i class="fas fa-edit c-orange"></i>   Editar</a>
                      </div>
                      <div class="pointer item-menu-question" (click)="remove(site)" *ngIf="site.use == 0">
                        <a class="dropdown-item"><i class="far fa-trash-alt red"></i>   Eliminar</a>
                    </div>
                  </mat-menu>
              </div>
          </td>
      </tr>
  </tbody>
</table>