<div class="animated fadeIn faster">
  <form #formQuestions="ngForm" (ngSubmit)="saveQuestions(formQuestions)" novalidate="novalidate" name="formQuestions">
    <div class="row">
      <div class="col">
        <h1 class="display-4" id="surveyName">{{surveyName}}</h1>
      </div>
      <div class="col">
        <div class="row d-flex justify-content-end">
          <button class="btn btn-outline-danger btn-sm mr-15px mb-5px" (click)="navigateTo('encuestas')">
            <i class="fas fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn btn-primary fz-14px" (click)="saveQuestions(formQuestions)">
            <i class="far fa-save"></i>
            Guardar
        </button>
      </div>
    </div>
    <table class="table" id="questionsTable">
      <thead>
        <tr>
          <th scope="col" class="text-center">{{this.defaultQuestionsText.lenguage.language}}</th>
          <th scope="col" class="text-center">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle w-300px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="this.languageSelected == undefined">Seleccione el idioma</span>
                <span *ngIf="this.languageSelected != undefined && this.languageSelected.id > 0">{{this.languageSelected.language}}</span>
              </button>
              <div class="dropdown-menu w-300px" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item pointer" *ngFor="let language of languages" (click)="onSelectLanguage(language)">
                  <span>{{language.language}}</span>
                </a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionText of defaultQuestionsText.questionsText; let i = index;">
          <td class="w-40">
            <p class="wsp-pre">{{questionText.text}}</p></td>
          <td class="w-60">
            <input class="form-control" name="{{i}}" required ngModel>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>