<div class="animated fadeIn faster">
  <form #formQuestions="ngForm" (ngSubmit)="saveQuestions(formQuestions)" novalidate="novalidate" name="formQuestions">
    <div class="row d-flex justify-content-end">
      <button class="btn btn-outline-danger btn-sm mr-15px mb-5px" (click)="navigateTo('encuestas')">
        <i class="fas fa-arrow-left"></i>
        Regresar
      </button>
    </div>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn btn-primary fz-14px" (click)="saveQuestions()">
            <i class="far fa-save"></i>
            Guardar
        </button>
      </div>
    </div>
    <table class="table" id="questionsTable">
      <thead>
        <tr>
          <th scope="col" class="text-center">{{this.defaultQuestions.lenguage.language}}</th>
          <th scope="col" class="text-center">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle w-300px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="languageSelected == undefined">Seleccione el idioma</span>
                <span *ngIf="languageSelected != undefined && languageSelected.id > 0">{{languageSelected.language}}</span>
              </button>
              <div class="dropdown-menu w-300px" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let language of languages" (click)="onSelectLanguage(language)">{{language.language}}</a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of defaultQuestions.questions; let i = index;">
          <td>{{question.text}}</td>
          <td>
            <input class="form-control" name="{{i}}" ngModel required>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>