<div class="dropdown">
  <button class="btn btn-info dropdown-toggle w-300px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span *ngIf="languageSelected == undefined">Seleccione el nuevo idioma</span>
    <span *ngIf="languageSelected != undefined && languageSelected.id > 0">{{languageSelected.language}}</span>
  </button>
  <div class="dropdown-menu w-300px" aria-labelledby="dropdownMenuButton">
    <a
    class="dropdown-item"
    *ngFor="let language of languages"
    (click)="onSelectLanguage(language)">{{language.language}}</a>
  </div>
</div>
<hr>
