<div class="btn-group">
  <button 
  type="button" 
  [ngClass]="{'disabled': disablePredefined}"
  class="btn btn-info dropdown-toggle" 
  data-toggle="dropdown">
      <span *ngIf="answerName.length == 0">Seleccionar tipo de respuesta</span> <span class="caret"></span>
      <span *ngIf="answerName.length > 0">{{answerName}}</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu scrollable-menu w-100 mh-374px" role="menu">
      <a 
      class="dropdown-item pointer" 
      *ngFor="let answer of answers"
      (click)="onSelectPredefinedAnswer(answer)">{{answer.resumeName}}</a>
  </ul>
</div>