<div class="row">
  <input class="form-control" type="text" value="Buscar">
</div>
<div class="row">
  <div class="list-group w-100">
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action">Cras justo odio</a>
    <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
  </div>
</div>
<br>
<div class="row">
  <button type="button" class="btn btn-primary" (click)="close(true)">Aceptar</button>
  <button type="button" class="btn btn-secondary" (click)="close(false)">Cancelar</button>
</div>
