<div class="row">
  <input class="form-control" type="text" value="Buscar">
</div>
<div class="row">
  <div class="list-group w-100">
    <a 
    class="list-group-item list-group-item-action" 
    *ngFor="let site of sites"
    id="Site_{{site.id}}"
    (click)="selectSite(site)">{{site.name}}</a>
  </div>
</div>
<br>
<div class="container text-right">
  <button type="button" class="btn btn-primary" id="btnAccept" (click)="close(true)">Aceptar</button>
  <button type="button" class="btn btn-secondary" (click)="close(false)">Cancelar</button>
</div>
