<ul class="nav nav-tabs animated fadeIn faster" id="cruiseDetail" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="sites-tab" data-toggle="tab" href="#sites" role="tab" aria-controls="sites" aria-selected="true">Sitios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="departments-tab" data-toggle="tab" href="#departments" role="tab" aria-controls="departments" aria-selected="false">Departamentos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sites" role="tabpanel" aria-labelledby="sites-tab">
    <ul class="list-group">
      <li class="list-group-item pointer animated fadeIn faster" aria-disabled="true" *ngFor="let site of sites">
          <mat-checkbox
          (click)="onClickSite(site, !checkSite.value)" 
          #checkSite>{{site.name}}</mat-checkbox>
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="departments" role="tabpanel" aria-labelledby="departments-tab">
    <ul class="list-group">
      <li class="list-group-item pointer animated fadeIn faster" aria-disabled="true" *ngFor="let department of departments">
          <mat-checkbox 
          (click)="onClickDepartment(department, !checkDepartment.value)"
          #checkDepartment>{{department.name}}</mat-checkbox>
      </li>
    </ul>
  </div>
</div>