<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-2">
            <div class="form-group mb-0">
                <label for="inputLanguageName" class="fw-500">Idioma</label>
                <input 
                type="text" 
                class="form-control" 
                id="inputLanguageName" 
                [(ngModel)]="languageSelected.name"
                [disabled]="inputNameDisabled" 
                (keyup)="onKeyUpLanguageName(languageName.value)"
                (click)="onClickLanguageName()"
                #languageName>
            </div>
            <small class="form-text red animated fadeIn faster" *ngIf="languageExist">Este idioma ya está regitrado</small>
        </div>
        <div class="col-10">
            <button
            type="button"
            class="btn btn-primary mt-31px"
            [hidden]="newButtonHidden"
            (click)="enableEditControls()">Nuevo</button>
            <button 
            type="button" 
            class="btn btn-primary mt-31px" 
            id="saveButton"
            [hidden]="saveButtonHidden"
            (click)="save(languageName.value)">Guardar</button>
            <button 
            type="button" 
            class="btn btn-warning mt-31px" 
            id="cancelButton" 
            [hidden]="cancelButtonHidden" 
            (click)="cancel()">Cancelar</button>
        </div>
    </div>
    <div class="row" id="tableContainer">
        <app-languages-table
        class="w-100"
        [languagesInput]="languages"
        (editEvent)="edit($event)"></app-languages-table>
    </div>
</div>