#tableContainer {
    width: 35%;
}

#cancelButton {
    margin-left: 10px;
}

.mt-20px {
    margin-top: 30px;
}

.loadingLanguages {
    position: absolute;
    top: 50%;
    left: 15%;
}

.loadingLegend {
    position: absolute;
    top: 60%;
    left: 14%;
}