<div class="btn-group dropleft" *ngIf="surveyInput.owner">
  <mat-icon aria-hidden="false" [matMenuTriggerFor]="menu" class="pointer">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <div class="pointer item-menu-question">
      <a class="dropdown-item" *ngIf="surveyInput.status == 0"><i class="fas fa-power-off text-success"></i>   Activar</a>
    </div>
    <div class="pointer item-menu-question">
      <a class="dropdown-item" (click)="deleteSurvey(surveyInput.id)"><i class="far fa-trash-alt red"></i>   Eliminar</a>
    </div>
    <div class="pointer item-menu-question">
      <a 
      class="dropdown-item" 
      [routerLink]="['/encuestas', surveyInput.id, 'idioma']"
      [queryParams]="{ name: surveyInput.name}">
      <i class="fas fa-globe blue-success"></i>   Agregar idioma</a>
    </div>
    <div class="pointer item-menu-question">
      <a class="dropdown-item" [routerLink]="['/encuesta', surveyInput.id]">
        <i class="fas fa-edit c-orange"></i>   Editar</a>
    </div>
  </mat-menu>
</div>
<div class="btn-group dropleft" *ngIf="!surveyInput.owner">
  <button type="button" style="border: 0; background-color: #fff;">
    <i class="fas fa-minus text-secondary"></i>
  </button>
</div>
