<label>Selecciona los lugares en donde estará disponible la encuesta</label>
<div class="container h-350px">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a 
      class="nav-item nav-link active" 
      id="nav-squares-tab" 
      data-toggle="tab" 
      href="#nav-squares" 
      role="tab" 
      aria-controls="nav-squares" 
      aria-selected="true"
      (click)="onClickTabSquares()">Plaza</a>
      <a 
      class="nav-item nav-link" 
      id="nav-hotels-tab" 
      data-toggle="tab" 
      href="#nav-hotels" 
      role="tab" 
      aria-controls="nav-hotels" 
      aria-selected="false"
      (click)="onClickTabHotels()">Hotel</a>
      <a 
      class="nav-item nav-link" 
      id="nav-cruises-tab" 
      data-toggle="tab" 
      href="#nav-cruises" 
      role="tab" 
      aria-controls="nav-cruises" 
      aria-selected="false"
      (click)="onClickTabCruises()">Cruises</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent" id="squaresCatalog">
    <div class="tab-pane fade show active" id="nav-squares" role="tabpanel" aria-labelledby="nav-squares-tab">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let square of squares">
          <mat-checkbox 
          [checked]="allSquares || isSquareSelected(square)"
          (change)="onChangeSquare(square, checkSquare.checked)" 
          #checkSquare>{{square.name}}</mat-checkbox>
        </li>
        <div class="alert alert-warning" role="alert" *ngIf="squares.length == 0">
          No se encontraron plazas registradas
        </div>
      </ul>
    </div>
    <div class="tab-pane fade" id="nav-hotels" role="tabpanel" aria-labelledby="nav-hotels-tab">
      <li class="list-group-item" *ngFor="let hotel of hotels">
        <mat-checkbox  
        [checked]="allHotels || isHotelSelected(hotel)"
        (change)="onChangeHotel(hotel, checkHotel.checked)" 
        #checkHotel>{{hotel.name}}</mat-checkbox>
      </li>
      <div class="alert alert-warning" role="alert" *ngIf="hotels.length == 0">
        Seleccione al menos una plaza
      </div>
    </div>
    <div class="tab-pane fade" id="nav-cruises" role="tabpanel" aria-labelledby="nav-profile-tab">
      <li class="list-group-item" *ngFor="let cruise of cruises">
        <mat-checkbox
        [checked]="allCruises || isCruiseSelected(cruise)"
        (change)="onChangeCruise(cruise, checkCruise.checked)"
        #checkCruise>{{cruise.name}}</mat-checkbox>
      </li>
      <div class="alert alert-warning" role="alert" *ngIf="cruises.length == 0">
        No se encontraron cruceros registrados
      </div>
    </div>
  </div>
  <br>
  <div class="container text-right">
    <div class="row">
      <div class="col text-left">
        <mat-checkbox [hidden]="squareHidden" (click)="onClickAllSquares()" #checkAllSquares>Todas las Plazas</mat-checkbox>
        <mat-checkbox [hidden]="hotelsHidden" (click)="onClickAllHotels()">Todos los Hoteles</mat-checkbox>
        <mat-checkbox [hidden]="cruisesHidden" (click)="onClickAllCruises()">Todos los Cruceros</mat-checkbox>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
      </div>
    </div>
  </div>
</div>