<div class="alert alert-warning w-100 mt-15px animated fadeIn faster" role="alert"*ngIf="departments == undefined || departments.length == 0">
  No hay departamentos registrados
</div>
<table class="table table-hover text-center animated fadeIn faster" *ngIf="departments && departments.length > 0">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Departamento</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let department of departments" 
        class="pointer"
        id="{{department.departmentId}}" 
        (click)="onClickRow(row, department)"
        #row>
            <th scope="row">{{department.departmentId}}</th>
            <td>{{department.name}}</td>
            <td>
                <span *ngIf="department.statusId == 1">
                    <span class="badge badge-dark fw-500">Inactivo</span>
                </span>
                <span *ngIf="department.statusId == 2">
                    <span class="badge badge-success fw-500">Activo</span>
                </span>
            </td>
            <td>
                <div class="btn-group dropleft">
                    <mat-icon aria-hidden="false" [matMenuTriggerFor]="menu" class="pointer">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <div class="pointer item-menu-question" *ngIf="department.statusId == 1" (click)="enable(department)">
                            <a class="dropdown-item"><i class="fas fa-power-off text-success"></i>   Activar</a>
                        </div>
                        <div class="pointer item-menu-question" *ngIf="department.statusId == 2" (click)="disabled(department)">
                            <a class="dropdown-item"><i class="fas fa-power-off text-secondary"></i>   Desactivar</a>
                        </div>
                        <div class="pointer item-menu-question" (click)="edit(department, row)">
                            <a class="dropdown-item"><i class="fas fa-edit c-orange"></i>   Editar</a>
                        </div>
                    </mat-menu>
                </div>
            </td>
        </tr>
    </tbody>
</table>