<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-0">
                        <label for="inputCruiseName" class="fw-600">Crucero</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="inputCruiseName"
                        [(ngModel)]="cruiseSelected.name"
                        [disabled]="cruiseNameDisabled"
                        (click)="onClickCruiseName()"
                        #cruiseName>
                    </div>
                    <small class="form-text red" *ngIf="cruiseExist">Este crucero ya está regitrado</small>
                </div>
                <div class="col-6">
                    <button
                    type="button"
                    class="btn btn-primary mt-31px"
                    [hidden]="newButtonHidden"
                    (click)="enableEditControls()">Nuevo</button>
                    <button 
                    type="button" 
                    class="btn btn-primary mt-31px" 
                    id="saveButton"
                    [hidden]="saveButtonHidden"
                    (click)="save(cruiseName.value)">Guardar</button>
                    <button 
                    type="button" 
                    class="btn btn-warning mt-31px" 
                    id="cancelButton"
                    [hidden]="cancelButtonHidden"
                    (click)="cancel()">Cancelar</button>
                </div>
            </div>
            <div class="row" id="tableContainer">
                <app-cruises-table
                *ngIf="!loading"
                class="w-100"
                [cruisesInput]="cruises"
                (editEvent)="edit($event)"
                (clickRowEvent)="onClickRow($event)"></app-cruises-table>
            </div>
        </div>
        <div class="col-7">
            <app-cruise-detail
            *ngIf="!loading"
            [cruisesInput]="cruises"></app-cruise-detail>
        </div>
    </div>
</div>
<div class="row" *ngIf="loading">
    <div class="spinner-border text-primary loadingCruises" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="loadingLegend">Cargando...</p>
</div>