<div class="content mt-20px animated fadeIn faster">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="inputAreaName" class="fw-600">Area</label>
                <input 
                type="text" 
                class="form-control" 
                id="inputAreaName"
                [(ngModel)]="areaSelected.name"
                [disabled]="inputNameDisabled"
                (click)="onClickAreaName()"
                (keyup)="onKeyUpAreaName(areaName.value)"
                #areaName>
            </div>
            <small class="form-text red" *ngIf="areaExist">Esta área ya está regitrada</small>
        </div>
        <div class="col-9">
            <button
            type="button"
            class="btn btn-primary mt-31px"
            [hidden]="newButtonHidden"
            [disabled]="loading"
            (click)="enableEditControls()">Nuevo</button>
            <button 
            type="button" 
            class="btn btn-primary mt-31px" 
            id="saveButton"
            [hidden]="saveButtonHidden"
            (click)="save(areaName.value)">Guardar</button>
            <button 
            type="button" 
            class="btn btn-warning mt-31px" 
            id="cancelButton"
            [hidden]="cancelButtonHidden"
            (click)="cancel()">Cancelar</button>
        </div>
    </div>
    <div class="row" id="tableContainer">
        <app-areas-table
        *ngIf="!loading"
        class="w-70"
        [areasInput]="areas"
        (editEvent)="edit($event)"
        (removeEvent)="remove($event)"></app-areas-table>
    </div>
</div>

<app-loading 
*ngIf="loading"
[topCircle]="50"
[leftCircle]="18"
[topLegend]="58"
[leftLegend]="17"></app-loading>