<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <mat-radio-group>
                <div class="row">
                    <mat-radio-button 
                    value="1"
                    name="checkPredefinedAnswer" ngDefaultControl
                    [checked]="singleAnswerCheck"
                    (click)="onClickAnswerType(predefinedRadio.value)" 
                    #predefinedRadio>Predefinida</mat-radio-button>
                </div>
                    <div class="btn-group">
                        <button type="button" 
                                [ngClass]="{ 'disabled': disablePredefined }"
                                class="btn btn-info dropdown-toggle" 
                                data-toggle="dropdown">
                                <span *ngIf="answerName.length == 0">Seleccionar tipo de respuesta</span> <span class="caret"></span>
                                <span *ngIf="answerName.length > 0">{{answerName}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu w-100 mh-374px" role="menu">
                            <a class="dropdown-item pointer" 
                               *ngFor="let answer of answers"
                               (click)="onClickPredefinedAnswer(answer)">{{answer.resumeName}}</a>
                        </ul>
                    </div>
                <div class="row mt-20px">
                    <mat-radio-button 
                    value="2"
                    name="checkFreeText" ngDefaultControl
                    [checked]="freeTextCheck" 
                    (click)="onClickAnswerType(openAnswerRadio.value)" 
                    (change)="onChangeFreeText(openAnswerRadio.value)" 
                    #openAnswerRadio>Texto libre </mat-radio-button>
                </div>
                <div class="row">
                    <mat-radio-button
                    value="3"
                    name="checkMultipleSelection"
                    [checked]="multipleSelection"
                    (click)="onClickAnswerType(multipleSelectionRadio.value)"
                    #multipleSelectionRadio>Selección múltiple</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</div>