<div class="row pointer bb-1 pdtb-10 bkgrnd">
  <div class="col-md-6">
    <label class="mb-0 fw-600">
      {{summaryInput.name}}
      <span class="badge badge-primary fw-500 pointer" *ngIf="summaryInput.owner == true">Owner</span>
      
    </label>
    <small class="form-text text-muted">Modificado {{summaryInput.lastModified}}</small>
  </div>
  <div class="col text-center">
    <label class="mb-0 fw-600 text-success" *ngIf="summaryInput.status == 1">{{summaryInput.statusDescripcion}}</label>
    <label class="mb-0 fw-600 text-secondary" *ngIf="summaryInput.status == 0">{{summaryInput.statusDescripcion}}</label>
    <small class="form-text text-muted">Estatus</small>
  </div>
  <div class="col text-center">
    <label class="mb-0 fw-600">{{summaryInput.totalQuestions}}</label>
    <small class="form-text text-muted">Preguntas</small>
  </div>
  <div class="col text-center">
    <label class="mb-0 fw-600">{{summaryInput.lenguages}}</label>
    <small class="form-text text-muted">Idiomas</small>
  </div>
  <div class="col text-center">
    <label class="mb-0 fw-600">{{summaryInput.plazas}}</label>
    <small class="form-text text-muted" *ngIf="summaryInput.plazas > 1">Plazas</small>
    <small class="form-text text-muted" *ngIf="summaryInput.plazas == 1">Plaza</small>
  </div>
  <div class="col">
    <div class="text-right">
      <app-menusummarysurvey [surveyInput] = "summaryInput"></app-menusummarysurvey>
  </div>
  </div>
</div>