<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="row w-100">
        <div class="col">
            <label *ngIf="_surveyCaprureServices">Total preguntas: {{ _surveyCaprureServices.questions.length }}</label>
            <label class="ml-20px">Plazas: </label>
            <label class="ml-20px">Hoteles: </label>
        </div>
        <div class="col text-right">
            <button 
            class="btn btn btn-secondary fz-14px btn-sm mr-10px" 
            (click)="onClickConfigSquareHotel()"
            #squaresAndHotels>
                <i class="fas fa-wrench"></i>
                Configurar plazas y hoteles
            </button>
            <div class="btn-group dropup">
                <button 
                type="button" 
                class="btn btn-secondary dropdown-toggle btn-sm w-200px" 
                [ngClass]="{ 
                    'btn-info': languageSelected != undefined && languageSelected.languageId > 0
                }" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
                [disabled]="loadingLanguages"
                (click)="onClickLanguage()"
                #language>
                    <span class="spinner-border spinner-border-sm mr-10px" role="status" aria-hidden="true" *ngIf="loadingLanguages"></span>
                    <span *ngIf="loadingLanguages">Cargando idiomas</span>
                    <span *ngIf="languageSelected && languageSelected.languageId > 0 && !loadingLanguages">{{ languageSelected.name }}</span>
                    <span *ngIf="!loadingLanguages && languageSelected && languageSelected.languageId == undefined">Seleccione Idioma</span>
                </button>
                <div class="dropdown-menu" *ngIf="!loadingLanguages">
                    <a 
                    class="dropdown-item pointer" 
                    *ngFor="let language of languages"
                    (click)="onSelectLanguage(language)">{{language.name}}</a>
                </div>
            </div>
        </div>
    </div>
</nav>