<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="row w-100">
        <div class="col-9">
            <label *ngIf="_questionServices">Total preguntas: {{ _questionServices.questions.length }}</label>
        </div>
        <div class="col-3 text-right">
            <button class="btn btn btn-secondary fz-14px btn-sm mr-10px" (click)="onClickConfigSquareHotel()">
                <i class="fas fa-wrench"></i>
                Configurar plazas y hoteles
            </button>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="languageSelected.length == 0">Seleccione Idioma</span>
                    <span *ngIf="languageSelected.length > 0">{{languageSelected}}</span>
                </button>
                <div class="dropdown-menu">
                    <a 
                    class="dropdown-item pointer" 
                    *ngFor="let language of languages"
                    (click)="onSelectLanguage(language)">{{language.language}}</a>
                </div>
            </div>
        </div>
    </div>
</nav>