<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="row w-100">
        <div class="col">
            <label *ngIf="_surveyCaprureServices">Total preguntas: {{ _surveyCaprureServices.questions.length }}</label>
        </div>
        <div class="col text-right">
            <button 
            class="btn btn btn-secondary fz-14px btn-sm mr-10px" 
            (click)="onClickConfigSquareHotel()"
            [ngClass]="{
                'btn-info' : _surveyCaprureServices.hotels.length > 0
            }"
            #squaresAndHotels>
                <i class="fas fa-wrench"></i>
                Configurar plazas y hoteles
            </button>
            <app-dropdown-language></app-dropdown-language>
        </div>
    </div>
</nav>